.button {
    cursor: pointer;
    background: transparent;
    border: 2px solid $spotigreen;
    border-radius: 50px;
    padding: .8em 2em;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: 600;

    &:hover{
        background: $spotigreen;
    }
}